﻿/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;C:\Users\dada\Documents\Visual Studio 2010\Projects\ASP_crud_tatel_marodalyn\ASP_crud_tatel_marodalyn\Scripts\
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.form
{
    
 margin-top: 30px;  
 padding-bottom: 20px; 
  
    
    }
    .btn
    {
        margin-bottom: 20px;
        }
