﻿<%@ Page Title="About Us" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeBehind="About.aspx.cs" Inherits="ASP_crud_tatel_marodalyn.About" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <h2>
        About
    </h2>
    <p>
        Put content here.
    </p>

     <script>         window.jQuery || document.write('<script src= "Assets/Bootstrap/js/jquery-slim.min.js"><\/script>')</script>
     <script src="Assets/Bootstrap/js/bootstrap.min.js" type="text/javascript"></script>  
    
</asp:Content>
