﻿<%@ Page Title="ASP Simple CRUD with Bootstrap 4.0" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeBehind="Default.aspx.cs" Inherits="ASP_crud_tatel_marodalyn._Default" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <h2>
        Welcome to ASP.NET!
    </h2>
    <p>
        To learn more about ASP.NET visit <a href="http://www.asp.net" title="ASP.NET Website">www.asp.net</a>.
    </p>
    <p>
        You can also find <a href="http://go.microsoft.com/fwlink/?LinkID=152368&amp;clcid=0x409"
            title="MSDN ASP.NET Docs">documentation on ASP.NET at MSDN</a>.
    </p>

     <script>         window.jQuery || document.write('<script src= "Assets/Bootstrap/js/jquery-slim.min.js"><\/script>')</script>
     <script src="Assets/Bootstrap/js/bootstrap.min.js" type="text/javascript"></script>  
    
</asp:Content>
